[submodule "htdocs/repo/design"]
	path = htdocs/repo/design
	url = https://github.com/dbwebb-se/design.git
[submodule "htdocs/forum"]
	path = htdocs/forum
	url = git@bitbucket.org:mosbth/dbwebb-forum.git
[submodule "htdocs/repo/javascript"]
	path = htdocs/repo/javascript
	url = https://github.com/dbwebb-se/javascript.git
[submodule "htdocs/repo/htmlphp"]
	path = htdocs/repo/htmlphp
	url = https://github.com/dbwebb-se/htmlphp.git
[submodule "htdocs/repo/oophp"]
	path = htdocs/repo/oophp
	url = https://github.com/dbwebb-se/oophp.git
[submodule "htdocs/repo/python"]
	path = htdocs/repo/python
	url = https://github.com/dbwebb-se/python.git
[submodule "htdocs/repo/javascript1"]
	path = htdocs/repo/javascript1
	url = https://github.com/dbwebb-se/javascript1.git
[submodule "htdocs/repo/linux"]
	path = htdocs/repo/linux
	url = https://github.com/dbwebb-se/linux.git
[submodule "htdocs/repo/webapp"]
	path = htdocs/repo/webapp
	url = https://github.com/dbwebb-se/webapp.git
[submodule "htdocs/repo/webgl"]
	path = htdocs/repo/webgl
	url = https://github.com/dbwebb-se/webgl.git
[submodule "htdocs/repo/phpmvc"]
	path = htdocs/repo/phpmvc
	url = https://github.com/dbwebb-se/phpmvc.git
[submodule "htdocs/repo/oopython"]
	path = htdocs/repo/oopython
	url = https://github.com/dbwebb-se/oopython.git
[submodule "htdocs/repo/slides"]
	path = htdocs/repo/slides
	url = https://github.com/mosbth/slides.git
[submodule "htdocs/repo/htmlphp-me"]
	path = htdocs/repo/htmlphp-me
	url = git@bitbucket.org:mosbth/htmlphp-me.git
[submodule "htdocs/repo/dbjs"]
	path = htdocs/repo/dbjs
	url = https://github.com/dbwebb-se/dbjs.git
